@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Poppins&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #ecf1f4;
}

h1 {
  /* 48px */
  font-size: 3rem;
}

h2 {
  /* 40px */
  font-size: 2.8rem;
}

h3 {
  /* 24px */
  font-size: 1.5rem;
}

hr {
  opacity: 30%;
}

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 0.4em;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.bold {
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

/* HEADER SECTION */

header {
  background-color: #fff;
  padding: 1.5em 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 1em;
}

.nav p {
  font-family: 'Poppins';
}

/* MAIN SECTION */

main {
  display: flex;
  gap: 1.5rem;
}

.poolpoint {
  width: 40%;
}

.poolpoint-detail,
.history {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1em;
  padding: 1em 2em;
}

.poolpoint-detail p {
  color: #8c8ca1;
}

.poolpoint-amount {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.history {
  width: 100%;
}

.history-filter {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.history-filter-category {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

button.active {
  color: #f9be00;
  background-color: #fef5d9;
}

button.tertiary {
  color: #8c8ca1;
  background-color: #fff;
  border: 1px solid #8c8ca1;
}

.history-entry {
  padding-top: 1em;
}

.history-entry span {
  font-weight: normal;
}

.history-entry p {
  margin: 0;
}

.history-entry-details {
  display: flex;
  justify-content: space-between;
}

.history-entry .details-type {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.details-amount {
  text-align: end;
}

.details-amount h3 {
  color: #f9be00;
  margin-bottom: 0;
}

.details-amount p {
  font-size: 12px;
  color: #8c8ca1;
  margin: 0;
}

.details-amount span {
  display: inline-block;
  vertical-align: middle;
}

.details-amount img {
  width: 23%;
}
